<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tel.gleisson.android.tel">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/tel"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Intro"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Intro.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:theme="@style/Intro.Fullscreen">
        </activity>
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/Intro.NoActionBar">
        </activity>
        <activity
            android:name=".activity.EditarContaActivity"
            android:theme="@style/Intro.Usuario">
        </activity>
        <activity
            android:name=".activity.CriarContaActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/Intro.NoActionBar"/>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Intro.NoActionBar"/>
        <activity
            android:name=".activity.CriarNovoCardSolucao_Activity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Intro.CriarSolucao">
        </activity>
        <activity
            android:name=".activity.DetalheCardActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Intro.DetalheCardNoTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c82af693ab49ebb24bb08fa2dbdbc43cd470bd36"/>

        <activity
            android:name=".activity.TelaProfileUsuarioActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Intro.DetalheCardNoTitle">
        </activity>
    </application>

</manifest>